---
import BaseLayout from "../layouts/baseLayout.astro";
import { Image } from "astro:assets";
import Face from "../assets/clown_face.jpg";
import Link from "../components/link.astro";
import LinkList from "../components/linkList.astro";
import Details from "../components/details.astro";
import "../styles/global.css";

const page_title = "About Me";

const books = [
    {
        name: "Fundamentals of Ethics",
        link: "https://www.goodreads.com/book/show/7601604-the-fundamentals-of-ethics",
        description: "by Russ Shafer-Landau",
    },
    {
        name: "Operating Systems: Three Easy Pieces",
        link: "https://pages.cs.wisc.edu/~remzi/OSTEP/",
        description: "by Remzi H. Arpaci-Dusseau and Andrea C. Arpaci-Dusseau",
    },
    {
        name: "Stay True",
        link: "https://en.wikipedia.org/wiki/Stay_True_(memoir)",
        description: "by Hua Tsu",
    },
    {
        name: "No No Boy",
        link: "https://en.wikipedia.org/wiki/No-No_Boy",
        description: "by John Okada",
    },
    {
        name: "Where the Red Fern Grows",
        link: "https://en.wikipedia.org/wiki/Where_the_Red_Fern_Grows",
        description: "by Wilson Rawls",
    },
];

const manga = [
    {
        name: "Grand Blue",
        link: "https://myanimelist.net/manga/70345/Grand_Blue",
        description: "by Kenji Inoue",
    },
    {
        name: "Kengan Ashura",
        link: "https://myanimelist.net/manga/72025/Kengan_Ashura",
        description: "by Yabako Sandrovich",
    },
    {
        name: "Dungeon Meshi",
        link: "https://myanimelist.net/manga/85781/Dungeon_Meshi",
        description: "by Kui Ryouko",
    },
    {
        name: "The Case Study of Vanitas",
        link: "https://myanimelist.net/manga/93753/Vanitas_no_Karte",
        description: "by Mochizuki Jun",
    },
    {
        name: "The Apothecary Diaries",
        link: "https://myanimelist.net/manga/107562/Kusuriya_no_Hitorigoto",
        description: "by Hyuuga Natsu, Nanao Itsuki, Nekokurage",
    },
];

const movies = [
    {
        name: "Margin Call",
        link: "https://www.imdb.com/title/tt1615147/",
        description: "2008 might've a bad year for everyone except the first ones",
    },
    {
        name: "Kpop Demon Hunters",
        link: "https://www.imdb.com/title/tt14205554/",
        description: "Kpop songs are really powerful",
    },
];

const tvShows = [
    {
        name: "Arcane",
        link: "https://www.imdb.com/title/tt11126994/",
        description: "The League of Legends show that makes you think the game is good",
    },
    {
        name: "Severance",
        link: "https://www.imdb.com/title/tt11280740/",
        description: "Bros got 2 people in his brain",
    },
    {
        name: "House M.D.",
        link: "https://www.imdb.com/title/tt0412142/",
        description: "Medical malpractice but good",
    },
    {
        name: "Mythbusters",
        link: "https://www.imdb.com/title/tt0383126/",
        description: "The foundations of science condensed into a TV show",
    },
];

const websites = [
    {
        name: "Anna's Archive",
        link: "https://annas-archive.pk/",
        description: "Massive digital library",
    },
    {
        name: "Wotaku Wiki",
        link: "https://wotaku.wiki/",
        description: "Index for all things anime",
    },
    {
        name: "Coolors",
        link: "https://coolors.co/",
        description: "Generate color schemes",
    },
    {
        name: "Dev Hints",
        link: "https://devhints.io/",
        description: "Useful cheatsheets for devs",
    },
];
---

<style>
    .stats {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, auto));
        gap: 10px;
    }

    .grid-item {
        background-color: var(--main-color);
        border: 1px solid var(--secondary-color);
        font-size: 1.25rem;
        min-width: 0;
    }

    .grid-item h3 {
        border-top: none;
    }

    .face_figure {
        grid-row: span 2;
        margin: 0;
        text-align: center;
    }

    .face {
        max-width: 200px;
        height: auto;
    }

    .locations,
    .age {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .interests,
    .favorites {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 768px) {
        .stats {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        .face_figure {
            grid-column: 1 / -1;
            grid-row: span 1;
        }

        .face{
            max-width: 100%;
        }
    }

    @media (max-width: 480px) {
        .stats {
            grid-template-columns: 1fr;
        }
    }
</style>

<BaseLayout page_title={page_title}>
    <h1>About Me</h1>
    <div class="stats">
        <figure class="face_figure">
            <Image src={Face} alt="My Face" class="face" width={300} />
            <figcaption><b>Me at a Clown Exhibit</b></figcaption>
        </figure>
        <p class="locations grid-item">
            Located in<br /> San Dimas, California
        </p>
        <p class="age grid-item">I'm 21 years old</p>
        <div class="interests grid-item">
            <h3>Current Interests</h3>
            <p>
                Moral Philosophy<br />
                Drawing <br />
            </p>
        </div>
        <div class="favorites grid-item">
            <h3>Favorites</h3>
            <p>
                Food: Pho <br />
                Programming Language: C++ <br />
                Song: <Link
                    link="https://www.youtube.com/watch?v=cJtL8vWNZ4o"
                    name="Movin' Out"
                /> by Billy Joel<br />
                Game: <Link
                    link="https://store.steampowered.com/app/105600/Terraria/"
                    name="Terraria"
                />
                <br />
            </p>
        </div>
    </div>
    <h2>My Programming Journey</h2>
    <p>
        My first exposure with programming was probably Scratch around the 6th
        grade where I was just dragging blocks. The block dragging was annoying
        and I quickly dropped this programming thing. The next time I picked up
        programming was years later in AP Computer Science where I learned Java
        right before the beginning of the Covid Pandemic.
    </p>
    <p>
        While the class did not inspire much enjoyment it opened me up to the
        depth of programming and its potential. When I wrote a language
        translation program in Python it was my proudest moment. Hours went by
        without me noticing as I improved the program and even added a GUI. I
        started wondering how everything on my computer worked and how the
        websites I used were built. These questions naturally led to me majoring
        in Computer Science at UCSB.
    </p>
    <h2>Recommendations</h2>
    <p>
        These are some things I recommend in no particular order. I don't really
        watch movies or TV shows though so my opinions may not be reliable.
    </p>
    <Details name="Books">
        <LinkList items={books} />
    </Details>
    <Details name="Manga">
        <LinkList items={manga} />
    </Details>
    <Details name="Movies">
        <LinkList items={movies} />
    </Details>
    <Details name="TV Shows">
        <LinkList items={tvShows} />
    </Details>
    <Details name="Websites">
        <p>Some maybe useful websites.</p>
        <LinkList items={websites} />
    </Details>
</BaseLayout>
