---
import BaseLayout from "../layouts/baseLayout.astro";
const page_title = "About Me";

const identity = {
    first_name: "Kevin",
    country: "United States",
    ocuupation: "Univeristy Student",
};

const skills = ["HTML", "CSS", "C++", "Python"];
const skillColor = "navy";
const font_weight = "bold";
const text_transform = "uppercase";
---

<style
    is:global
    define:vars={{
        skillColor,
        font_weight,
        text_transform,
    }}
>
    h1 {
        color: purple;
        font-size: 3rem;
    }

    .skill {
        color: var(--skillColor);
        font-weight: var(--font_weight);
        text-transform: var(--text_transform);
    }
</style>

<BaseLayout page_title={page_title}>
    <p>Some Fun Facts About Me!</p>
    <ul>
        <li>My name is {identity.first_name}.</li>
        <li>
            I live in {identity.country} and I work as a {identity.ocuupation}.
        </li>
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
</BaseLayout>
