---
import "../styles/global.css";

const page_title = "About Me";

const identity = {
    first_name: "Kevin",
    country: "United States",
    ocuupation: "Univeristy Student",
};

const skills = ["HTML", "CSS", "C++", "Python"];
const skillColor = "navy";
const font_weight = "bold";
const text_transform = "uppercase";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{page_title}</title>
        <style
            define:vars={{
                skillColor,
                font_weight,
                text_transform,
            }}
        >
            h1 {
                color: purple;
                font-size: 3rem;
            }

            .skill {
                color: var(--skillColor);
                font-weight: var(--font_weight);
                text-transform: var(--text_transform);
            }
        </style>
    </head>

    <body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <h1>{page_title}</h1>
        <p>Some Fun Facts About Me!</p>
        <ul>
            <li>My name is {identity.first_name}.</li>
            <li>
                I live in {identity.country} and I work as a {
                    identity.ocuupation
                }.
            </li>
        </ul>
        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
    </body>
</html>
