---
import BaseLayout from "../layouts/baseLayout.astro";
import Blogpost from "../components/blogpost.astro";
import "../styles/global.css";
const all_posts = Object.values(
    import.meta.glob("./posts/*.mdx", { eager: true }),
);
const page_title = "Blog";

all_posts.sort((a: any, b: any) => {
    if (a.frontmatter.date < b.frontmatter.date) {
        return 1;
    }
    if (a.frontmatter.date > b.frontmatter.date) {
        return -1;
    }
    return 0;
});
---

<BaseLayout page_title={page_title}>
    <h1>Blogs</h1>
    {
        all_posts
            .slice(0, 3)
            .map((post: any) => (
                <Blogpost
                    url={post.url}
                    title={post.frontmatter.title}
                    date={post.frontmatter.date}
                    description={post.frontmatter.description}
                />
            ))
    }
</BaseLayout>
