---
const { url, title, date, description } = Astro.props;
---

<style>
    .post {
        outline: 1px solid var(--secondary-color);
        margin: 0;
        transition: filter 0.3s ease;
    }

    .post:hover {
        filter: brightness(150%);
    }
</style>
<section class="post">
    <a href={url}>
        <p>
            {title}
            <br />
            <time datetime={date}>{date}</time><br />
            {description}
        </p>
    </a>
</section>
