---
import Figure from "./figure.astro";
const { title, image, description, date, img_d, width = 1000 } = Astro.props;
---

<style>
    .introduction {
        margin-bottom: 1rem;
    }

    .information h1 {
        font-weight: 700;
        letter-spacing: -0.02em;
        outline: none;
    }

    time {
        font-family: var(--font-atkinson), sans-serif;
        display: block;
        font-size: 0.8rem;
        opacity: 70%;
        padding: 0 1rem 0;
    }

    .dek {
        padding: 0 1rem;
        max-width: 65ch;
        font-size: 1.05rem;
        line-height: 1.5;
    }
</style>

<div class="introduction">
    <Figure src={image} alt="title_img" width={width} caption={img_d} />
    <div class="information">
        <h1>{title}</h1>
        <time datetime={date}>{date.toString().slice(0, 10)}</time>
        <p class="dek">{description}</p>
    </div>
</div>
