---
import BaseLayout from "./baseLayout.astro";
import "../styles/global.css";
const { frontmatter } = Astro.props;
---

<style>
    :global(pre) {
        margin: 1rem;
    }

    :global(p) :global(a) {
        color: var(--accent-color);
    }

    .tags {
        display: flex;
        padding: 1rem;
        gap: 1rem;
    }

    .tag {
        font-size: 150%;
        padding: 1rem;
        border: 1px solid var(--secondary-color);
    }
</style>

<BaseLayout page_title={frontmatter.title}>
    <h1>{frontmatter.title}</h1>
    <p>
        {frontmatter.author}
        <br />
        Published On: {frontmatter.date.toString().slice(0, 10)}
        <br />
        {frontmatter.description}
    </p>
    <slot />
    <h3>Tags</h3>
    <div class="tags">
        {
            frontmatter.tags.map((tag: string) => (
                <a href="/blogs" class="tag">
                    {tag}
                </a>
            ))
        }
    </div>
</BaseLayout>
